@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
    padding: 1rem 3%;
    display: flex;
}

.manage {
    margin-top: 2rem;
}
h2 {
	color: #d6d5d6;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    text-align: center;
}

h1 {
    color: #d6d5d6;
    text-align: center;
}

h3 {
    color: #d6d5d6;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

.selectTime {
    font-size: 34px;
}

p {
	color: #d6d5d6;
	font-size: 20pt;
    font-family: 'Bebas Neue', cursive;
}

.select {
    font-size: 26pt;
    text-align: left;
    margin-bottom: 1rem;
}

.userName {
    text-align: left;
    margin-bottom: 2rem;
}

.adminTab {
    width: 20%;
    margin-left: 1rem;
}

.adminTab button {
    font-family: 'Bebas Neue', cursive;
    font-size: 27pt;
	color: #B7B7B7;
	text-align: left;
	display: block;
    padding: 1rem 0;
    border: none;
    cursor: pointer;
}
.adminTab button.active {
    color: #aab2e2;

}
.adminTab button:hover {
	color: rgb(240, 239, 239);
	
}
.adminTab button a {
    text-decoration: none; 
    color: #B7B7B7;
}


img{
    width: 50%;
    height: auto;
     
}

.manageButton{
    background-color:  #D0CDD7;
	text-align: center;
	padding: .5rem 1rem;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    border-radius: 2rem;
    text-decoration: none;
    color: #24272B;
}

.editButton {
    font-size: 17px;
    padding: .4rem .9rem;
    margin-left: .5rem;
    margin-top: .5rem;
}

.sub {
    float: right;
}
.timeButton{
    font-size: 17px;
    padding: .25rem .75rem;
    margin-left: .5rem;
    margin-top: 0;
}

.pTime {
    font-size: 30px;
    color: #a2a5b8;

}

.addTime{
    margin-left: 15rem;
}

.manageButton:hover {
	background-color: #c3c9e9;
}

#add-movie input {
    float: right; 
    margin-bottom: 2rem;
}

.movie {
    display: inline-block;
    margin-top: 2rem;
    width: 35rem;
}

.movies {
    text-align: center;
    overflow-y: auto;
    margin-top: 4rem;
    width: 100%;
}

#manageMovies {
    margin-top: 2rem;
}

.changeButton {
    background-color:  #D0CDD7;
	text-align: center;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 2rem;
    text-decoration: none;
}

.changeButton:hover {
    background-color: #c3c9e9;
}


label {
	margin-right: 1rem;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    color:#d6d5d6;
    text-align: right;	
    display: inline-block;
    width: 15rem;
}

input {
	margin-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color: #d6d5d6;
	color: #24272B;
}

input[type=text] {
	margin-top: .5rem;
	border-radius: .75rem;
	height: 2rem;
    padding: .20rem .5rem;
    width: 20rem;
}
input[type=checkbox] {
    width: 1.25rem;
    height: 1.25rem;
}

#check {
	width: 2rem;
}

#checkLabel {
    margin-left: 5rem;
    width: 10rem;
    
}

.modInput {
    width: 9rem;
    height: 1rem;

}
.modLabel {
    text-align: left;
    margin: 0;
}

/* user's box*/


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    color: blue;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: fit-content; /* Could be more or less, depending on screen size */
  }
  
  fieldset {
      border: 0;
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.addPromo { 
    margin-bottom: 3rem;
}

#manageUsers {
    margin-top: 6rem;
}
