
.adminTitle {
	text-align: center;
	font-size: 35pt;
}
p {
	color: #d6d5d6;
	font-size: 20pt;
	font-family: 'Bebas Neue', cursive;
}

.manage {
	background-color: #D0CDD7;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: rgb(36, 36, 36);
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border-radius: 25px;
	float: right;
}

.manage:hover {
	background-color: #c3c9e9;
}

.trailerList {
	margin-top: 3rem;
}
