@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
    padding: 1rem 3%;
    display: flex;
}

h2 {
	color: #d6d5d6;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    text-align: center;
}

h1 {
    color: #d6d5d6;
    text-align: center;
}

h3 {
    color: #d6d5d6;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

p {
	color: #d6d5d6;
	font-size: 20pt;
	font-family: 'Bebas Neue', cursive;
}

.userName {
    text-align: left;
    margin-bottom: 2rem;
}

.adminTab {
    width: 20%;
    margin-left: 1rem;

}

.adminTab button {
    font-family: 'Bebas Neue', cursive;
    font-size: 27pt;
	color: #B7B7B7;
	text-align: left;
	display: block;
    padding: 1rem 0;
    border: none;
    cursor: pointer;
}
.adminTab button.active {
    color: #aab2e2;

}
.adminTab button:hover {
	color: rgb(240, 239, 239);
	
}
.adminTab button a {
    text-decoration: none; 
    color: #B7B7B7;
}

.addMovieButton {
    background-color: #D0CDD7;
	text-align: center;
	padding: .5rem 1rem;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 2rem;
	box-shadow: .5px .5px 3px .5px #0d0e0f;
}

img{
    width: 50%;
    height: auto;
     
}

.manageButton{
    background-color:  #D0CDD7;
	text-align: center;
	padding: .5rem 1rem;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    border-radius: 2rem;
    text-decoration: none;
    color: #24272B;
}

.manageButton:hover {
	background-color: #c3c9e9;
}

#add-movie input {
    float: right; 
}

.movie {
    display: inline-block;
    width: 30%;
    margin-top: 2rem;
}

.movies {
    text-align: center;
    overflow-y: auto;
    margin-top: 4rem;
}

#manageMovies {
    margin-top: 2rem;
}


.changeButton {
    background-color:  #D0CDD7;
	text-align: center;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 2rem;
    text-decoration: none;
}

.changeButton:hover {
    background-color: #c3c9e9;
}

label {
    color: #d6d5d6;
}

input{
    background-color: #d6d5d6;
    float: inherit;
}

/* user's box*/



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

