@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
.main-container.p {
	color: #d6d5d6;
	font-size: 20pt;
    font-family: 'Bebas Neue', cursive;
}

main {
	padding: 1rem 3%;
}

h1 {
    color: #d6d5d6;
	margin-top: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
    text-align: center;
}


main h2 {
	color: #d6d5d6;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 30pt;
}

select {
    color: #d6d5d6;
}

h4 {
    color: #d6d5d6;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: 18pt;
    font-family: 'Bebas Neue', cursive;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cancelButton {
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    width: auto;
    background-color: #D0CDD7;
    border-radius: 25px;
    padding: .75rem 1.5rem;
}

#btn {
    margin: 1rem;
    text-align: center;
}

.purchaseButton {
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
    width: auto;
    background-color: #D0CDD7;
    border-radius: 25px;
    padding: .75rem 1.5rem;
    
}


label {
    font-family: 'Roboto', sans-serif;
    color:#d6d5d6;
    text-align: right;
    float: center;
    width: 7em;
    text-align: right;
    margin-left: -1em;
}

input {
    width: 15em;
    margin-left: 0.75em;
    border: 2px solid #B7B7B7;
	background-color: #d6d5d6;
    
}

