@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
	padding: 1rem 3%;
}
main legend {
	color: #d6d5d6;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 30pt;
	
}

#edit-nav {
	width: 20%;
}
#edit-nav ul {
	list-style-type: none;
}

#edit-nav li{
	background-color: #d6d5d6;
}
#edit-nav ul.one {
	position: relative;
	border: none;
}
#edit-nav a{
	text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
	color: #B7B7B7;
	text-align: left;
	display: block;
	padding: 1rem 0;
}

#edit-nav ul li.active a {
    color: #aab2e2;

}
#edit-nav ul li a:hover {
	color: rgb(240, 239, 239);
	
}
form {
    text-align: center;
}

fieldset {
    border: 0.75px solid #d6d5d6;
    padding: 1%;
    text-align: center;

}
label {
	margin: 0 .5rem .5rem 0;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    color:#d6d5d6;
    text-align: right;
    width: 9em;
    text-align: right;	
	display: inline-block;
}

input {
	margin-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color: #d6d5d6;
	color: #24272B;
}

input[type=text] {
	margin-top: .5rem;
	border-radius: .75rem;
	height: 2rem;
	padding: .20rem .5rem;
}
input[type=checkbox] {
    width: 1.25rem;
    height: 1.25rem;
}

#logoutButton {
	text-align: center;
	display: flex;
	justify-content: center;
}

.bookMovie {
	background-color: #D0CDD7;
	text-align: center;
	padding: .5rem 1rem;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 2rem;
	box-shadow: .5px .5px 3px .5px #0d0e0f;
	text-decoration: none;
}

.forgetPassSubmit{
	background-color:  #D0CDD7;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    border-radius: 2rem;
    text-decoration: none;
    color: #24272B;
	font-size: 17px;
	padding: .4rem .9rem;
	margin-left: .5rem;
	margin-top: 1rem;
}

.passInput {
	width: 20rem;
}

.bookMovie:hover {
	background-color: #c3c9e9;
}

#check {
	width: 2rem;
	margin-left: 4rem;
}

#checkLabel {
	width: 13rem;
	margin-left: 3rem;
}
 
#logoutButton a {
	color: black;
}

#edit {
	display: flex;
}

#formDiv {
	width: 100%;
}

p {
	color: #a2a5b8;
	font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

h4 {
	color: #a2a5b8;
	font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}