@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
	padding: 1rem 3%;
}
main legend {
	color: #d6d5d6;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 30pt;
	
}

#edit-nav {
	width: 20%;
}
#edit-nav ul {
	list-style-type: none;
}

#edit-nav li{
	background-color: white;
}
#edit-nav ul.one {
	position: relative;
	border: none;
}
#edit-nav a{
	text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
	color: #B7B7B7;
	text-align: left;
	display: block;
	padding: 1rem 0;
}

#edit-nav ul li.active a {
    background-color: rgb(207, 199, 199);
    color: #24272B;
}
#edit-nav ul li a:hover {
	color: rgb(240, 239, 239);
	
}
form {
    text-align: center;
}

fieldset {
    border: 0.75px solid #d6d5d6;
    padding: 1%;
    text-align: center;

}

label {
    font-family: 'Roboto', sans-serif;
    color:#d6d5d6;
    text-align: right;
    float: center;
    width: 7em;
    text-align: right;
    margin-left: -1em;
}

input {
    width: 15em;
    margin-left: 0.75em;
    border: 2px solid #B7B7B7;
	background-color: white;
}

#logoutButton {
	text-align: center;
	display: flex;
	justify-content: center;
}


.sub {
	background-color: #B7B7B7;
	text-align: center;
	padding: .5rem 1rem;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 2rem;
	box-shadow: .5px .5px 3px .5px #0d0e0f;
	text-decoration: none;

}

.sub:hover {
	background-color: #c3c9e9;
}

label {
	display: inline-block;
	width: 8%;
}

#check {
	width: 2rem;
	margin-right: 2rem;
}

#checkLabel {
	width: 10rem;
}
 
#logoutButton a {
	color: black;
}

#edit {
	display: flex;
}

#formDiv {
	width: 90%;
}
