* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
	padding: 1rem 3%;
}

main h2 {
	color: #d6d5d6;;
	margin-top: 2rem;
}


.loginForm{
	padding-left:45%;
}

.trailerList {
	display: flex;
	text-align: center;
	align-items: center;
	overflow-x: scroll;
}

.trailer {
	padding: 10px;
}

.bookMovie {
	background-color: #B7B7B7;
	text-align: center;
}

.bookMovie:hover {
	background-color: #c3c9e9;
}


.adminButtons{
	display: inline-block;
	flex-direction: column;
}

.adminTitle {
	text-align: center;
}