@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
	padding: 1rem 3%;
}
main h2 {
	color: #d6d5d6;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 30pt;
	margin-left: -1rem;
}
.loginForm{
	text-align: center;
}
label {
	margin-right: 1rem;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
    color:#d6d5d6;
    text-align: center;
    display: inline-block;
    width: 15rem;
}

input {
	margin-bottom: .5rem;
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background-color: #d6d5d6;
	color: #24272B;
}

input[type=text] {
	margin-top: .5rem;
	border-radius: .75rem;
	height: 2rem;
    padding: .20rem .5rem;
    width: 20rem;
}

fieldset {
	text-align: center;
}

.loginButton {
	background-color:  #D0CDD7;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
    border-radius: 2rem;
    text-decoration: none;
    color: #24272B;
	font-size: 17px;
	padding: .4rem .9rem;
	margin-left: .5rem;
	margin-top: 1rem;
}

.loginButton:hover {
	background-color: #c3c9e9;
}

footer a {
    color: white;
    text-decoration: none;
    float: right;
    margin-top: 12rem;
    margin-right: 3rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 25pt;
    width: auto;
    background-color: #D0CDD7;
    border-radius: 25px;
    padding: .75rem 1.5rem;
}