@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

header {
	width: 100%;
    margin-top: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
}

.title {
	color: #d6d5d6;	
	text-align: center;
}

#nav-menu {
    margin-bottom: 4rem;
}
#nav-menu ul {
	list-style-type: none;
}
#nav-menu li {
	width: 15%;
	background-color: white;
}
#nav-menu a {
	text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20pt;
	color: #B7B7B7;
	text-align: center;
	display: block;
	padding: 1rem;
}

#nav-menu ul li.active a {
    color: #aab2e2;
}
#nav-menu ul li a:hover {
	color: rgb(240, 239, 239);
}
#nav-menu ul.one {
	position: relative;
	border: none;
}
#nav-menu ul.one li {
	float: left;
}
#nav-menu ul.two {
	display: none;
	position: absolute;
	width: 100%;
}
#nav-menu ul.one li:hover ul.two {
	display: block;
}
#nav-menu ul.two li {
	clear: left;
}
#nav-menu ul.two li {
	position: relative;
}

header #search-form {
	width: 10%;
	margin-top: -2.1em;
	margin-left: 30%;
}

#search-bar {
    font-family: 'Roboto', sans-serif;
	width: 30%;
	margin: 0 5%;
	padding: 1em;
    background-repeat: no-repeat;
   	background-position: left;  
	background-size: 45px 25px;
	background-color: rgb(240, 239, 239);
	padding-left: 10px;
	text-align: center;
	border: none;
	border-radius: 20px;
	padding-bottom: 10px;
}
