@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
    background-color: #24272B;
}
main {
	padding: 1rem 3%;

}

main h1 {
    color: #d6d5d6;;
	margin-top: 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 50pt;
    text-align: center;
}

main h2 {
	color: #d6d5d6;;
	margin-top: 1rem;
	font-family: 'Bebas Neue', cursive;
	font-size: 30pt;
}

p {
	color: #d6d5d6;
	font-size: 20pt;
	font-family: 'Bebas Neue', cursive;
}

#filter {
	float: left;
	width: 20%;
}

#content {
	display: block;
	width: 100%;
	/* justify-content: center; */
}



.trailerList {
	display: block;
	/* text-align: center; */
	/* align-items: center; */
    overflow-y: scroll;
	
    padding-bottom: .75rem;
}

.info {

	display: flex;
	flex-direction:column;
	justify-content: right;
	
	
	
}

.trailer {
	/* display: table; */
	
	padding: 10px;
}

.bookMovie {
	background-color: #B7B7B7;
	text-align: center;
	padding: .5rem 1rem;
	margin-top: .5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 2rem;
	box-shadow: .5px .5px 3px .5px #0d0e0f;
}

.bookMovie:hover {
	background-color: #c3c9e9;
}

